<div class="row">
  <div class="col-xs-12">
    <h1>Character Details</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2><span class="<%= @player.realm %>"><%= @player.name %></span></h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h3><%= @player.level %> <%= @player.race.capitalize %> <%= @player.daoc_class.capitalize %></h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <span>Realm Rank: <%= @player.format_rr %></span>
  </div>
</div>


<div class="row">
  <div class="col-xs-12">
    <table class="table" id="player-details-table">
      <thead>
        <tr>
          <th>Realm Points</th>
          <th>RPs-Last 3 Days</th>
          <th>RPs-Last 7 Days</th>
          <th>RPs-Last 14 Days</th>
          <th>Overall Rank (Past 7 days)</th>
          <th><b class="<%= @player.realm %>"><%= @player.realm.capitalize %></b> Rank (Past 7 days)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @player.format_realm_points(@player.total_rps) %></td>
          <td><%= @player.format_realm_points(@player.last_three_days_rps) %></td>
          <td><%= @player.format_realm_points(@player.last_seven_days_rps) %></td>
          <td><%= @player.format_realm_points(@player.last_fourteen_days_rps) %></td>
          <td><%= @player.get_rank("overall") %> (<%= @player.get_rank("last_seven_days_rps") %>)</td>
          <td><%= @player.get_rank_in_realm("overall") %> (<%= @player.get_rank_in_realm("last_seven_days_rps") %>)</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>