
<div class="row">
  <div class="col-xs-12">
    <%= form_tag( top_players_path, method: :get, :class => 'search-top-players-form') do %>
      <div class="row top-players-filter-holder">
        <div class="col-xs-3 top-players-realm-filter">
          <div>
            <h4>Realm</h4>
          </div>
          <div>
            <%= radio_button_tag 'select-realm', 'all-realms', true %>
            <%= label_tag 'select-realm_all-realms', "All Realms" %>
          </div>
          <div class="hibernia">
            <%= radio_button_tag 'select-realm', 'hibernia' %>
            <%= label_tag 'select-realm_hibernia', "Hibernia" %>
          </div>
          <div class="midgard">
            <%= radio_button_tag 'select-realm', 'midgard' %>
            <%= label_tag 'select-realm_midgard', "Midgard" %>
          </div>
          <div class="albion">
            <%= radio_button_tag 'select-realm', 'albion' %>
            <%= label_tag 'select-realm_albion', "Albion" %>
          </div>
        </div>
        <div class="col-xs-3 top-players-duration-filter">
          <div>
            <h4>Duration</h4>
          </div>
          <div>
            <%= radio_button_tag 'select-duration', 'all-time', true %>
            <%= label_tag 'select-duration_all-time', "All Time" %>
          </div>
          <div>
            <%= radio_button_tag 'select-duration', 'three-days' %>
            <%= label_tag 'select-duration_three-days', "Last 3 Days" %>
          </div>
          <div>
            <%= radio_button_tag 'select-duration', 'seven-days' %>
            <%= label_tag 'select-duration_seven-days', "Last Week" %>
          </div>
          <div>
            <%= radio_button_tag 'select-duration', 'fourteen-days' %>
            <%= label_tag 'select-duration_fourteen-days', "Last Two Weeks" %>
          </div>
        </div>
        <div class="col-xs-3 top-players-hib-class-type-filter top-players-class-type-filter" style="display: none;">
          <div>
            <h4>Hibernia Class Type</h4>
          </div>
          <div>
            <%= radio_button_tag 'select-hib-class-type', 'all-classes', true %>
            <%= label_tag 'select-hib-class-type_all-classes', "All Classes" %>
          </div>
          <div>
            <%= radio_button_tag 'select-hib-class-type', 'naturalist' %>
            <%= label_tag 'select-hib-class-type_naturalist', "Naturalist" %>
          </div>
          <div>
            <%= radio_button_tag 'select-hib-class-type', 'stalker' %>
            <%= label_tag 'select-hib-class-type_stalker', "Stalker" %>
          </div>
          <div>
            <%= radio_button_tag 'select-hib-class-type', 'guardian' %>
            <%= label_tag 'select-hib-class-type_guardian', "Guardian" %>
          </div>
          <div>
            <%= radio_button_tag 'select-hib-class-type', 'magician' %>
            <%= label_tag 'select-hib-class-type_magician', "Magician" %>
          </div>
          <div>
            <%= radio_button_tag 'select-hib-class-type', 'forester' %>
            <%= label_tag 'select-hib-class-type_forester', "Forester" %>
          </div>
        </div>
        <div class="col-xs-3 top-players-mid-class-type-filter top-players-class-type-filter" style="display: none;">
          <div>
            <h4>Midgard Class Type</h4>
          </div>
          <div>
            <%= radio_button_tag 'select-mid-class-type', 'all-classes', true %>
            <%= label_tag 'select-mid-class-type_all-classes', "All Classes" %>
          </div>
          <div>
            <%= radio_button_tag 'select-mid-class-type', 'viking' %>
            <%= label_tag 'select-mid-class-type_viking', "Viking" %>
          </div>
          <div>
            <%= radio_button_tag 'select-mid-class-type', 'seer' %>
            <%= label_tag 'select-mid-class-type_seer', "Seer" %>
          </div>
          <div>
            <%= radio_button_tag 'select-mid-class-type', 'mystic' %>
            <%= label_tag 'select-mid-class-type_mystic', "Mystic" %>
          </div>
          <div>
            <%= radio_button_tag 'select-mid-class-type', 'rogue' %>
            <%= label_tag 'select-mid-class-type_rogue', "Rogue" %>
          </div>
        </div>
        <div class="col-xs-3 top-players-hib-class-naturalist-filter top-players-class-filter" style="display: none;">
          <div>
            <h4>Hibernia Class</h4>
          </div>
          <div>
            <%= radio_button_tag 'select-hib-class-naturalist', 'druid', true %>
            <%= label_tag 'select-hib-class-naturalist_druid', "Druid" %>
          </div>
          <div>
            <%= radio_button_tag 'select-hib-class-naturalist', 'bard' %>
            <%= label_tag 'select-hib-class-naturalist_bard', "Bard" %>
          </div>
          <div>
            <%= radio_button_tag 'select-hib-class-naturalist', 'warden' %>
            <%= label_tag 'select-hib-class-naturalist_warden', "Warden" %>
          </div>
        </div>
        <div class="col-xs-3 top-players-hib-class-stalker-filter top-players-class-filter" style="display: none;">
          <div>
            <h4>Hibernia Class</h4>
          </div>
          <div>
            <%= radio_button_tag 'select-hib-class-stalker', 'ranger', true %>
            <%= label_tag 'select-hib-class-stalker_ranger', "Ranger" %>
          </div>
          <div>
            <%= radio_button_tag 'select-hib-class-stalker', 'nightshade' %>
            <%= label_tag 'select-hib-class-stalker_nightshade', "Nightshade" %>
          </div>
        </div>
        <div class="col-xs-3 top-players-hib-class-guardian-filter top-players-class-filter" style="display: none;">
          <div>
            <h4>Hibernia Class</h4>
          </div>
          <div>
            <%= radio_button_tag 'select-hib-class-guardian', 'hero', true %>
            <%= label_tag 'select-hib-class-guardian_hero', "Hero" %>
          </div>
          <div>
            <%= radio_button_tag 'select-hib-class-guardian', 'blademaster' %>
            <%= label_tag 'select-hib-class-guardian_blademaster', "Blademaster" %>
          </div>
          <div>
            <%= radio_button_tag 'select-hib-class-guardian', 'champion' %>
            <%= label_tag 'select-hib-class-guardian_champion', "Champion" %>
          </div>
        </div>
        <div class="col-xs-3 top-players-hib-class-magician-filter top-players-class-filter" style="display: none;">
          <div>
            <h4>Hibernia Class</h4>
          </div>
          <div>
            <%= radio_button_tag 'select-hib-class-magician', 'eldritch', true %>
            <%= label_tag 'select-hib-class-magician_eldritch', "Eldritch" %>
          </div>
          <div>
            <%= radio_button_tag 'select-hib-class-magician', 'enchanter' %>
            <%= label_tag 'select-hib-class-magician_enchanter', "Enchanter" %>
          </div>
          <div>
            <%= radio_button_tag 'select-hib-class-magician', 'mentalist' %>
            <%= label_tag 'select-hib-class-magician_mentalist', "Mentalist" %>
          </div>
        </div>
        <div class="col-xs-3 top-players-hib-class-forester-filter top-players-class-filter" style="display: none;">
          <div>
            <h4>Hibernia Class</h4>
          </div>
          <div>
            <%= radio_button_tag 'select-hib-class-forester', 'Animist', true %>
            <%= label_tag 'select-hib-class-forester_animist', "Animist" %>
          </div>
          <div>
            <%= radio_button_tag 'select-hib-class-forester', 'valewalker' %>
            <%= label_tag 'select-hib-class-forester_valewalker', "Valewalker" %>
          </div>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-xs-12">
          <%= submit_tag "Submit", class: "btn btn-large btn-primary", :data => { disable_with: false } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
      <br/>
<div class="row">
  <div class="col-xs-12">
    <table class="table" id="top-players-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Realm Points</th>
          <th>Realm Rank</th>
          <th>Realm</th>
          <th>Class</th>
          <th>Guild</th>
        </tr>
      </thead>
      <tbody>
        <% if !@players.blank? %>
          <% @players.each_with_index do |player, i| %>
            <tr>
              <td><%= i+1 %></td>
              <td><%= player.name %></td>
              <td><%= player.total_rps %></td>
              <td><%= player.realm_level %></td>
              <td class="<%= player.realm %>"><%= player.realm.capitalize %></td>
              <td><%= player.daoc_class.capitalize %></td>
              <td><% if !player.guild.blank? %><%= link_to player.get_guild_name, guild_details_path(:name => player.get_guild_name) %><% end %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>