
<div class="row">
  <div class="col-xs-12">
    <%= form_tag( top_players_path, method: :get, :class => 'search-top-players-form') do %>
      <div class="row top-players-filter-holder">
        <div class="col-xs-6 top-players-realm-filter">
          <div>
            <h4>Realm</h4>
          </div>
          <div>
            <%= radio_button_tag 'select-realm', 'all-realms', true %>
            <%= label_tag 'select-realm_all-realms', "All Realms" %>
          </div>
          <div class="hibernia">
            <%= radio_button_tag 'select-realm', 'hibernia' %>
            <%= label_tag 'select-realm_hibernia', "Hibernia" %>
          </div>
          <div class="midgard">
            <%= radio_button_tag 'select-realm', 'midgard' %>
            <%= label_tag 'select-realm_midgard', "Midgard" %>
          </div>
          <div class="albion">
            <%= radio_button_tag 'select-realm', 'albion' %>
            <%= label_tag 'select-realm_albion', "Albion" %>
          </div>
        </div>
        <div class="col-xs-6 top-players-duration-filter">
          <div>
            <h4>Duration</h4>
          </div>
          <div>
            <%= radio_button_tag 'select-duration', 'all-time', true %>
            <%= label_tag 'select-duration_all-time', "All Time" %>
          </div>
          <div>
            <%= radio_button_tag 'select-duration', 'three-days' %>
            <%= label_tag 'select-duration_three-days', "Last 3 Days" %>
          </div>
          <div>
            <%= radio_button_tag 'select-duration', 'seven-days' %>
            <%= label_tag 'select-duration_seven-days', "Last Week" %>
          </div>
          <div>
            <%= radio_button_tag 'select-duration', 'fourteen-days' %>
            <%= label_tag 'select-duration_fourteen-days', "Last Two Weeks" %>
          </div>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-xs-12">
          <%= submit_tag "Submit", class: "btn btn-large btn-primary", :data => { disable_with: false } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
      <br/>
<div class="row">
  <div class="col-xs-12">
    <table class="table" id="top-players-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Realm Points</th>
          <th>Realm Rank</th>
          <th>Realm</th>
          <th>Class</th>
          <th>Guild</th>
        </tr>
      </thead>
      <tbody>
        <% if !@players.blank? %>
          <% @players.each_with_index do |player, i| %>
            <tr>
              <td><%= i+1 %></td>
              <td><%= player.name %></td>
              <td><%= player.total_rps %></td>
              <td><%= player.realm_level %></td>
              <td class="<%= player.realm %>"><%= player.realm.capitalize %></td>
              <td><%= player.daoc_class.capitalize %></td>
              <td><% if !player.guild.blank? %><%= link_to player.get_guild_name, guild_details_path(:name => player.get_guild_name) %><% end %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>