<div class="row">
  <div class="col-xs-12">
    <h1>Search character by name</h1>
  </div>
  <div class="col-xs-12">
    <%= form_tag( player_details_path, method: :get) do %>

      <%= label_tag "Character Name" %>
      <%= text_field_tag :name %>

      <%= submit_tag "Search", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Search guild by name</h1>
  </div>
  <div class="col-xs-12">
    <%= form_tag( guild_details_path, method: :get) do %>

      <%= label_tag "Guild Name" %>
      <%= text_field_tag :name %>

      <%= submit_tag "Search", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> Realm Point Distribution</h3>
        </div>
        <div class="panel-body">
          <div id="morris-donut-chart"></div>
        </div>
    </div>
    
    <%= tag :div, class: "realm_total_rps", data: {hibernia_total_rps: Player.hibernia_total_rps, midgard_total_rps: Player.midgard_total_rps, albion_total_rps: Player.albion_total_rps} %>
  </div>
</div>
<!-- /.row -->