<!DOCTYPE html>
<html>
<head>
  <title>INC - Herald</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/assets/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/assets/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><%= image_tag("inc_header_white.png", :alt => "INC - An Uthgard Guild") %></a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li>
                  <div class="inner-addon left-addon nav-search space-right">
                    <%= form_tag( search_players_path, method: :get) do %>
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <%= text_field_tag :name, nil, placeholder: 'Characters...', class: 'form-control with-inlaid-submit' %>
                        <%= submit_tag "Search",  class: "btn btn-large btn-primary inlaid-submit" %>
                    <% end %>
                  </div>
                </li>
                <li>
                  <div class="inner-addon left-addon nav-search space-right">
                    <%= form_tag( search_guilds_path, method: :get) do %>
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <%= text_field_tag :name, nil, placeholder: 'Guilds...', class: 'form-control with-inlaid-submit' %>
                        <%= submit_tag "Search",  class: "btn btn-large btn-primary inlaid-submit" %>
                    <% end %>
                  </div>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                      <%= link_to index_herald_path do %>
                        <i class="fa fa-fw fa-beer"></i> INC Guild
                      <% end %>
                    </li>
                    <li <%= active_herald_index %>>
                      <%= link_to index_herald_path do %>
                        <i class="fa fa-fw fa-pie-chart"></i> Herald
                      <% end %>
                    </li>
                    <li <%= active_top_players %>>
                      <%= link_to top_players_path do %>
                        <i class="fa fa-fw fa-trophy"></i> Top Players
                      <% end %>
                    </li>
                    <li <%= active_top_guilds %>>
                      <%= link_to top_guilds_path do %>
                        <i class="fa fa-fw fa-flag"></i> Top Guilds
                      <% end %>
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        
        <div id="page-wrapper">
          <div class="container-fluid">
            <%= yield %>
          </div>
        </div>
    </div>
</body>
</html>
