<!DOCTYPE html>
<html>
<head>
  <title>INC - Herald</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">INC - An Uthgard Guild</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Search Character <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            
                          <%= form_tag( search_players_path, method: :get) do %>

                            <%= label_tag "Character Name" %>
                            <%= text_field_tag :name %>

                            <%= submit_tag "Search", class: "btn btn-large btn-primary" %>
                          <% end %>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Search Guild <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                          <%= form_tag( search_guilds_path, method: :get) do %>

                            <%= label_tag "Guild Name" %>
                            <%= text_field_tag :name %>

                            <%= submit_tag "Search", class: "btn btn-large btn-primary" %>
                          <% end %>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                      <%= link_to index_herald_path do %>
                        <i class="fa fa-fw fa-beer"></i> INC Guild
                      <% end %>
                    </li>
                    <li <%= active_herald_index %>>
                      <%= link_to index_herald_path do %>
                        <i class="fa fa-fw fa-pie-chart"></i> Herald
                      <% end %>
                    </li>
                    <li <%= active_top_players %>>
                      <%= link_to top_players_path do %>
                        <i class="fa fa-fw fa-trophy"></i> Top Players
                      <% end %>
                    </li>
                    <li <%= active_top_guilds %>>
                      <%= link_to top_guilds_path do %>
                        <i class="fa fa-fw fa-flag"></i> Top Guilds
                      <% end %>
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        
        <div id="page-wrapper">
          <div class="container-fluid">
            <%= yield %>
          </div>
        </div>
    </div>
</body>
</html>
